<body>
<div class="title">
  <h1>Wu Wei</h1>
</div>
<div class="flex-box">
  <div class="me">
    <%= link_to image_tag("dylan_zen_200.png", :border => 0), posts_path %>
  </div>
  <div class="port">
    <%= link_to image_tag("zenfrogsmall.png", :border => 0), projects_path %>
  </div>
  <div class="blog">
    <%= link_to image_tag("zenfrogsmall.png", :border => 0), posts_path %>
  </div>
</div>
</body>
