<!-- Meta Data -->
<%= csrf_meta_tags %>
<meta charset="utf-8">
<title>Dylan Wu Wei</title>
<meta name="Author" content="Dylan Grant">
<meta name="keywords" content="responsive html template, portfolio, creative, clean, minimal, white, mobile, develop, Dylan Grant">
<meta name="Description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Portfolio Home" content="Landing page for portfolio of work">

<!-- CSS -->
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "application", :media => "all" %>

<!-- JS -->
<%= javascript_include_tag "application" %>
