<div class="mainmenu">
  <div class="menuwrapper">
    <div class="menulist">
      <ul class="items">
        <li class="menuitem">
          <%= link_to "ABOUT ME", about_me_path %>
        </li>
        <li class="menuitem">
          <%= link_to "PROJECTS", projects_path %>
          </li>
          <li class="menuitem">
            <%= link_to "BLOG", posts_path %>
          </li>
        </ul>
      </div>
        <a href="#home" class="logoblock">
          <span class="companyname">Wu Wei</span>
        </a>

        <div class="socialblock">
          <a href="#" title="Facebook" class="socialicon"><i class="fa fa-facebook-square"></i></a>
          <a href="#" title="Twitter" class="socialicon"><i class="fa fa-twitter-square"></i></a>
          <a href="#" title="Google Plus" class="socialicon"><i class="fa fa-google-plus-square"></i></a>
          <a href="#" title="LinkedIn" class="socialicon"><i class="fa fa-linkedin-square"></i></a>
        </div>
    </div>
</div>
